.video-back {
    width: 100%;
    position: cover;
    border-radius: 30px;
}

@media (min-width: 1024px) {
    .video-back {
        width: 70%;
        position: cover;
    }

}

@media (max-width: 767px) {
    .video-back {
        width: 100%;
        padding-top: 20px;
        transform: scaleY(1.5);
        border-radius: 0;
    }
}