.navbar-label{
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

.navbar-label ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 10px;
}

.navbar-label ul li{
    text-decoration: none;
    list-style: none;
}

.navbar-btn {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100px;
    height: 80px;
    padding: 10px;
}

.navbar-btn span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: var(--white);
}

.navbar-btn span:hover {
    color:var(--red);
}
.navbar-label li.active span{
    color:var(--red);      
}
.navbar-label li.active img{
    transform: scale(0.9);
    transition: 0.5s;
}
 
@media (min-width: 768px) {
    .navbar-label ul {
      justify-content: end;
    }
    .navbar-btn {  
        height: 50px;
        padding: 10px 70px;     
        border-radius: 50px;
        background-color: var(--fuchsia);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .navbar-btn:hover,
    .navbar-label li.active .navbar-btn {  
        background-color: var(--green);
        transition: 0.5s ease-in-out;    
    }
    .navbar-btn img {
        display: none;
    }

    .navbar-btn span {
        font-size: 16px;
        padding: 10px;
    }
    .navbar-btn span:hover,
    .navbar-label li.active span{
        color: var(--white);  
    }

}