@import '../../../sass/config/mixins';

section{
        .pdf{
            margin-left: 3%;
            position: absolute;
            width: 90%;
            height: 100%;
            
        }
    }

