.main-veterinarianScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    padding: 20px;
    gap: 20px;
}

.section-veterinarianScreen{
    background-color: aqua;
    width: 100%;
}

.searchBar-block-vet{
    margin-top: 80px;
    max-width: 100%;
}

@media (min-width: 768px){
    
}