.main-veterinarianScreen{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;

}

.section-veterinarianScreen{
    width: 100%;

}

.section-veterinarianScreen:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.searchBar-block-vet{
    margin-top: 10px;
    max-width: 100%;
}

@media (min-width: 768px){
    .section-veterinarianScreen:nth-child(1){
        padding-top: 80px;
    }
    
}