.main-veterinarianScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    padding: 20px;
    gap: 20px;
    background-color: aqua;
}

.section-veterinarianScreen{
    background-color: var(--white);
}

@media (min-width: 768px){
    .main-veterinarianScreen{
        flex-direction: row;
    }

    .section-veterinarianScreen{
        max-width: 50%;
        width: 50%;
    }
}