.navbar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    width: 100%;
    padding: 10px;
    background-color: var(--rose);
    position: fixed;
    bottom: 0;
    gap: 10px;
    z-index: 1000;
}

.logo{
    border-radius: 10px;   
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
    .navbar-content {
        bottom: auto;
    }
    
}

@media (max-width: 767px) {
    .navbar-content .logo{
        display: none;
    }
}