.span{
    color: var(--red);
    text-align: center;
    padding:  5px;
}

.span-login{
    color: var(--yellow);
    padding:  5px;
}

@media(min-width:768px){
    .span-login{
        color: var(--red);
    }
    
}