.card-profile-animal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.btn-animal-crud {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    width: 100%;

}

.card-profile-animal-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 20px;
}

@media (min-width: 768px){
    .card-profile-animal-block{
        flex-direction: row;
    }
}